body {
    font-family: Tahoma, sans-serif;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-container > * {
    flex: 1 100%;
}

header {
    text-align: center;
}

p {
    width: 150px;
}

table {
    border: 1px solid #000;
}

img {
    max-width: 200px;
}

@media (min-width: 600px) {
    main.flex-container > * {
        flex: 1 auto;
    }
}

