body {
    font-family: Tahoma, sans-serif;
    color: #667581;
    background: rgba(100, 148, 237, 0.137);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-container > * {
    flex: 1 100%;
}

header {
    text-align: center;
}

p {
    width: 150px;
}

button {
    background: #667581;
    color: #fff;
    border: 0;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}

th {
    font-weight: normal;
    flex: 1 0px;
}

img {
    max-width: 200px;
}

@media (min-width: 600px) {
    main.flex-container > * {
        flex: 1 auto;
    }
}
